/* LANDING PAGE STYLING */
@import url("https://fonts.googleapis.com/css?family=Cute+Font|Almendra");
@import url("https://fonts.googleapis.com/css?family=Amita");
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
#head{
    background-image: url("../Images/backgrounds/h_img.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

#one{
    padding-top: 14%;
    margin-bottom: 9%;
}

#one {
    font-family: "Amita";
    color: #fffafa;
}

#desc{
    font-family: Almendra;
    font-style: italic;
    font-weight: 700;
    font-size: large;
    color: #fffafa;
}

.image1 {
    padding-top: 9%;
    margin-bottom: 3%;
}

.image2 {
    margin-top: 20%;
    padding: 35px 0;
}

/* About us styling */

#about{
    margin-top: 60px;
    margin-bottom: 60px;
}

h1{
    font-family: 'Amita';
    font-weight: 700;
}

p{
    font-family: Almendra
}

/* Services */
#services{
    background-image: url("../Images/backgrounds/s_image.jpg");
    background-repeat: no-repeat;
    color: #fffafa;
    background-position: center;
    padding-top: 120px;
    padding-bottom: 80px;
}
/* What we do section */

/* Portfolio section */
.card-deck {
    padding: 1% 4%;
}

/* Contaxt Us */
#contact{
    background-image: url("../Images/backgrounds/c_image.jpg");
    background-size: cover;
    margin-bottom: 50px;
    padding-top: 100px;
    width: 100%;
    max-width: 100%;
    margin-top: 10%;


}